//- div(ng-include='"components/navbar/navbar.html"')
//- http://www.growhack.com/2015/03/12/most-common-demo-mistake-that-leads-your-prospects-to-go-dark/

include ./mixins/slackdot.mixin.jade

.col-md-12.editor
  .editor-title
    h4(style="padding:0; margin:0 0 15px 0;")
      | {{ link.meta.title }}

    span.hilo-shortTitle
      | Guides:&nbsp;
    input#guidesSwitcher(
        bs-switch
        ng-model="showGuides"
        type="checkbox"
        switch-active="true"
        switch-size="mini"
        switch-animate="true"
        switch-label-width="24px"
        switch-handle-width="24px")


  .editor-detail-info
    div(ng-hide='!templates.hint')
      #hint.alert.alert-success(role="alert")
        | Click on one of these guides to edit
      +slackdot('hint', 'absolute', 'bottom:30px;')

    span.hilo-shortTitle(ng-hide='!templates.shareUrl') Share URL:
      input#hilo-shareUrl.form-control.form-inline(ng-model='link.shareUrl.url', value='link.shareUrl.url', size='30', style='font-weight:normal')

    span.hilo-shortTitle(ng-hide='!templates.twitterProfilePicUrl') Profile Photo:
      br
      input#hilo-twitterProfilePicUrl(
        bs-switch
        ng-model="link.show.twitterProfilePicUrl"
        type="checkbox"
        switch-active="true"
        switch-size="mini"
        switch-animate="true"
        switch-label-width="24px"
        switch-handle-width="24px"
        style="font-weight:normal")

    span.hilo-shortTitle(ng-hide='!templates.author') Author:
      input#hilo-author.form-control.form-inline(ng-model='link.author', value='link.author', size='30', style='font-weight:normal')

    span.hilo-shortTitle(ng-hide='!templates.theMessage') Message:
      input#hilo-theMessage.form-control.form-inline(ng-model='link.theMessage', value='link.theMessage', size='30', style='font-weight:normal')

    span.hilo-shortTitle(ng-hide='!templates.actionBtn') Action Button:
      input#hilo-actionBtn.form-control.form-inline(ng-model='link.actionBtnText', value='link.actionBtnText', size='30', style='font-weight:normal')

    span.hilo-shortTitle(ng-hide='!templates.ctaText') Call To Action:
      input#hilo-ctaText.form-control.form-inline(ng-model='link.ctaText', value='link.ctaText', size='30', style='font-weight:normal')

    span.hilo-shortTitle(ng-hide='!templates.inputPlaceholder') Input Placeholder:
      input#hilo-inputPlaceholder.form-control.form-inline(ng-model='link.inputPlaceholder', value='link.inputPlaceholder', size='30', style='font-weight:normal')

    span.hilo-shortTitle(ng-hide='!templates.submitBtnText') Submit Button Text:
      input#hilo-submitBtnText.form-control.form-inline(ng-model='link.submitBtnText', value='link.submitBtnText', size='30', style='font-weight:normal')

  .editor-action
    .btn.btn-primary.btn-block
      | &nbsp;Update&nbsp;
    .btn.btn-default.btn-block
      | &nbsp;Cancel&nbsp;


.col-md-12
  //- hilobar
  #hilobar

    //- wide
    .hiloContents.hidden-xs
      a.hiloLink hilo
      .actions
        a.hiloClose ×
        a.hiloShare
          span.glyphicon.glyphicon-retweet
        +slackdot('shareUrl', 'absolute', 'left:-20px')
      span.hiloProfilePhoto
        img#twitterProfilePicUrl.img-rounded(ng-hide='!link.show.twitterProfilePicUrl', src='{{ link.twitterProfilePicUrl }}')
        +slackdot('twitterProfilePicUrl', 'absolute', 'left:-10px')
      span.hiloMessageBox(ng-hide='showForm')
        span.hiloAuthor
          +slackdot('author', 'absolute', 'top:-10px')
          a {{ link.author }}

        span.messageIt
          +slackdot('theMessage', 'absolute', 'bottom:16px')
          span
            | {{ link.theMessage }}
          span.spacer
          span.nextBtn
            +slackdot('actionBtn', 'absolute', 'bottom:10px')
            button.btn.btn-primary.btn-lg.hiloAction(ng-click='toggleForm()')
              | {{ link.actionBtnText }}

      .hiloCtaBox(ng-hide='!showForm')
        +slackdot('ctaText', 'absolute', 'top:-10px')
        strong
          | {{ link.ctaText }}

        form.form.form-inline.form-lg
          +slackdot('inputPlaceholder', 'absolute', 'bottom:10px')
          .input-group.input-group-lg
            input.form-control(type='text', placeholder='{{ link.inputPlaceholder }}')
            span.input-group-btn.input-group-button-lg
              +slackdot('submitBtnText', 'absolute', 'bottom:-10px')
              button.btn.btn-primary.btn-lg.hiloGo(ng-click='toggleForm()') {{ link.submitBtnText }}



    //- narrow
    .hiloContents.visible-xs
      a.hiloLink(href='/') hilo
      .actions
        a.hiloClose(href='{{ trustSrc(link.destUrl) }}') ×
        a.hiloShare(target='_blank', href='{{ link.shareUrl_ }}')
          span.glyphicon.glyphicon-retweet
      span.hiloMessageBox
        span.hiloAuthor
          a(target='_blank', href='{{ link.twitterUrl }}') Eric Tsang
        span.messageIt
          span.theMessage
            | {{ link.theMessage }}
          span.spacer
          span.nextBtn
            button.btn.btn-primary.btn-xs.hiloAction(style='height:40px')
              | {{ link.actionBtnText }}
      .hiloCtaBox(style='display:none')
        strong {{ link.ctaText }}
        form.form.form-inline.form-lg
          .input-group.input-group-lg
            input.form-control(type='text', placeholder='{{ link.inputPlaceholder }}', ng-model='theEmail')
            span.input-group-btn.input-group-button-lg
              button.btn.btn-primary.btn-lg.hiloGo(type='button', ng-click='subscribe()') {{ link.submitBtnText }}

  //- iframe of destination
  .aspect-ratio
    .hilo-sunscreen(ng-hide='!showGuides')
      | &nbsp;
    iframe(ng-src='{{ trustSrc(link.destUrl) }}', frameborder='0')


script.
  $(document).ready(function() {
    $('.hilo-slackdot').click(function() {
      $(window).scrollTop(0);
      $('.editor-detail-info')
        .css('opacity', 0)
        .animate({ backgroundColor: "#ffffff", opacity: 1.0 }, 250);
    });
  });