mixin slackdot(element, position, velocity)
  a.hilo-slackdot(
    ng-hide='!showGuides', id='#{element}',
    ng-click='toggleShowOption("#{element}")',
    style='position:#{position}; #{velocity}')
    | &nbsp;&nbsp;&nbsp;&nbsp;