mixin slackdot(element, top, right, bottom, left)
  a
    span.hilo-slackdot(ng-hide='!showGuides', id='#{element}', class='#{top}#{right}#{bottom}#{left}', ng-click='toggleShowOption("#{element}")')
    | &nbsp;&nbsp;&nbsp;&nbsp;